.products{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    place-items: center;
}

.title{
    padding: 0 4rem;
}

@media (max-width: 950px){
    .products{
        grid-template-columns: 1fr 1fr;
    }

    .title{
        font-size: 20px;
    }
    .card{
    width: 290px;
    }
}

@media (max-width: 600px){
    .products{
        grid-template-columns: 1fr;
    }
    .title{
        margin-top: 3rem;
        text-align: center;
    }
}